.column {
    width: 47%;
}

/* Generell modal styling */

/*
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #282828c4;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.modal {
    width: 1000px;
    max-width: 1000px;
    max-height: 90vh;
    overflow-y: auto;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
}

.modal h1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 0px; *//*
    font-size: 40px;
    font-weight: bold;
    font: 700 34px/1.2, sans-serif, Arial, Helvetica;
}
*/

.modal h2 {
    font-size: 24px;
    font-weight: 700;
    font: 700 24px/1.2, sans-serif, Arial, Helvetica;
    color: #2c3e50;
    margin-top: 5px;
    margin-bottom: 5px;
}

.modal h3 {
    font-size: 17px;
    font-weight: 700;
    padding: 10px 0px 5px 0px;
    color: #2c3e50
}

/*
.horizontalLine {
    border: 1px solid #aeb7c0;
    margin: 10px 0px 10px 0px;
}*/


/*
.label {
    font-size: inherit;
    width: 100%;
    margin-bottom: 10px;
}*/


.evaluationLabel {
    font-weight: 350;
    /* color: #5f6970; */
}

.addedLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #6c757d;
    margin-top: 5px;
    padding: 10px;
    color: #000000;
    background-color: #e3e7ec;
}

.validationLine {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    height: auto;
    border-radius: 5px;
    margin-top: -5px;
    padding: 10px;
    color: #000000;
    /* background-color: #ebeff5; */
    background-color: #e3e7ec;
    position: relative;
    z-index: 1;
}

.validationHeading {
    font-size: 17px;
    font-weight: 700;
    padding: 5px 0px 5px 0px;
    color: #454545;
}

.alignRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.alignedItemsContainer {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.arrow {
    font-size: 60px;
    display: inline-block;
    transform: scaleY(2);
    transform-origin: left center;
}

/* Modal buttons */

.modal .close {
    background-color: #aeb7c0;
    margin-top: 7px;
    color: #232323;
    padding: 10px 20px;
    font-size: 20px;
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.modal .close:hover {
    background-color: #778899;
}

.modal .saveChanges {
    background-color: #90ee90;
    margin-top: 7px;
    color: #232323;
    padding: 10px 20px;
    font-size: 20px;
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.modal .saveChanges:hover {
    background-color: #008000;
}

.modal .validate {
    background-color: #7fb07f;
    margin-top: 7px;
    color: #232323;
    padding: 10px 20px;
    font-size: 20px;
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    z-index: 2;
}

.modal .validate:hover {
    background-color: #486348;
}

.smallBtn {
    margin: 5px;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #aeb7c0;
    color: #2c3e50;
    font-weight: bold;
    width: 25px;
    height: 25px;
    text-align: center;
}

.smallBtn:hover {
    background-color: #778899;
}

/* Info button styling */
/*
.infoBtn {
    position: relative;
    transform: translate(20%, -20%);
    border-radius: 50%;
    background-color: #fff;
    color: #2c3e50;
    font-size: 10px;
    font-weight: bold;
    border: #2c3e50 1px solid;
    box-shadow: 0 2px 5px #64636333;
    cursor: pointer;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoModal {
    position: absolute;
    bottom: 20px;
    /* left: 20%; *//*
    transform: translateX(20%);
    width: auto;
    min-width: 150px;
    height: auto;
    /* min-height: 50px; *//*
    padding: 10px;
    background-color: #fff;
    color: #2c3e50;
    border-radius: 5px;
    border: #2c3e50 1px solid;
    box-shadow: 0 2px 5px #0000004d;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.infoModal.smallInfoModal {
    transform: translateX(-20%);
    z-index: 1;
}

.infoBtn:hover+.infoModal,
.infoModal:hover {
    visibility: visible;
    opacity: 1;
}

.infoModal p {
    margin: 0;
    font-size: 12px;
}
*/

/* Template / Example styling */

.container {
    margin: 0px 0px 10px 0px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-color: #e8f5fe;
    /* background-color: #e3e7ec; */
}

.roundBtn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #2c3e50;
    border: none;
    color: white;
    font-size: 20px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.roundBtn:hover {
    background-color: #778899;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 2px solid;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}


/* Table styling */
.table {
    overflow: auto;
    width: 100%;
    border-collapse: collapse;
}

.table th {
    background-color: #e3e7ec;
    font-weight: 600;
    /* padding: 10px; */
    padding: 3px 10px;
    text-align: left;
    border: 1px solid lightgray;
}

.table td {
    font-weight: 300;
    /* padding: 10px; */
    padding: 3px 10px;
    border: 1px solid lightgray;
    background-color: white;
}

.tableBoldHeading {
    font-weight: 600;
    margin-right: 5px;
}

.tableBtn {
    background-color: #e3e7ec;
    color: inherit;
    padding: 5px;
    font-size: inherit;
    font-weight: 300;
    /* width: 100%; */
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.tableBtn:hover {
    background-color: #778899;
}

/* Styling for the accordion, inspired by: Katherine Kato (https://codepen.io/kathykato/pen/MoZJom) */



.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: var(--text);
    font-size: inherit;
    border: none;
    background: none;
    outline: none;
}

.accordion button:hover,
.accordion button:focus {
    cursor: pointer;
    color: #3c1ad1;
}

.accordion button::after {
    cursor: pointer;
    color: var(--text);
    border: 1px solid var(--text);
}

/* TODO Wenn geschlossen wird, bleibt farblich markiert */

.accordion .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
}

.accordion .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}

.accordion .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}

.accordion button[aria-expanded='true'] .icon::after {
    width: 0;
}

.accordion button[aria-expanded='true']+.accordion-content {
    opacity: 1;
    max-height: 1000px;
    transition: all 100ms linear;
    will-change: opacity, max-height;
}




/* Result styling */


