@charset "utf-8";
@import '../../node_modules/bulma/bulma.sass';
@import '../../node_modules/bulma-tooltip/src/sass/index.sass';
@import '../../node_modules/jointjs/dist/joint.css';

@import '@jsonforms/vue-vanilla/vanilla.css';

.cm-lineNumbers {
    font-size: .8rem;
}

.cm-line {
  font-size: .8rem;
}

.jsn-code {
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 4px
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.jsn-modal-wide {
  width: 80%;
}

.jsn-evaluation-editor {
  flex-grow: 1;
  display: inline !important;
  margin-left: 15px;
}

.jsn-code-font {
  font-family: monospace;
  white-space: pre-wrap;
}

#menu {
  position: absolute;
  left: 30px;
  top: 30px;
  padding: 5px;
  background-color: white;
  border-radius: 3px;
}

// .editor {
  // background-color: #000;
  // font-family: courier new;
  // padding: 8px;
  // color: white;
// }
